/* Fonts Chart */
/* font-family: 'Roboto', sans-serif; */

.Login_Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login_Brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Login_Brand img {
    width: 50%;
}

/* Input css from https://csshint.com/css-input-text/  */



h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 25pt;
  text-align: center;
  color: #493423;
  }
  
  input,
  span,
  label,
  textarea {
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 10px;
    padding: 5px;
    border: none;
    font-size: 12px;
  }
  
  textarea:focus,
  input:focus {
    outline: 0;
  }
  /* Question */
  
  input.question,
  textarea.question {
    font-size: 40px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden; /* Hack to make "rows" attribute apply in Firefox. */
  }
  /* Underline and Placeholder */
  
  input.question + label,
  textarea.question + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid #69443C;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
  }
  
  input.question:focus + label,
  textarea.question:focus + label {
    width: 80%;
  }
  
  input.question:focus,
  input.question:valid {
    padding-top: 35px;
  }
  
  textarea.question:valid,
  textarea.question:focus {
    margin-top: 35px;
  }
  
  input.question:focus + label > span,
  input.question:valid + label > span {
    top: -100px;
    font-size: 25px;
    color: #333;
  }
  
  textarea.question:focus + label > span,
  textarea.question:valid + label > span {
    top: -150px;
    font-size: 15px;
    color: #333;
  }
  
  input.question:valid + label,
  textarea.question:valid + label {
    border-color: green;
  }
  
  input.question:invalid,
  textarea.question:invalid {
    box-shadow: none;
  }
  
  input.question + label > span,
  textarea.question + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 15px;
    top: -66px;
    left: 0px;
    z-index: -1;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  }
  
  input[type="submit"] {
    -webkit-transition: opacity 0.2s ease, background 0.2s ease;
    transition: opacity 0.2s ease, background 0.2s ease;
    display: block;
    opacity: 0;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background: #EEE;
  }
  
  input[type="submit"]:active {
    background: #999;
  }
  
  input.question:valid ~ input[type="submit"], textarea.question:valid ~ input[type="submit"] {
    -webkit-animation: appear 1s forwards;
    animation: appear 1s forwards;
  }
  
  input.question:invalid ~ input[type="submit"], textarea.question:invalid ~ input[type="submit"] {
    display: none;
  }
  
  @-webkit-keyframes appear {
    100% {
      opacity: 1;
    }
  }
  
  @keyframes appear {
    100% {
      opacity: 1;
    }
  }
  




  .Login_Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    font-family: 'Bodoni Moda', serif;
    margin-top: 30pt;
}

  /* CSS button-52 from https://getcssscan.com/css-buttons-examples  */

.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
  }
  
  .button-52:after {
    content: "";
    background-color: #E9C261;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 13px 50px 13px;
    }
  }

  /* CSS button-57 from https://getcssscan.com/css-buttons-examples */

  .button-57 {
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 18px;
    line-height: 5px;
    padding: 5px 15px 5px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-57 span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6188E9;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
  }
  
  .button-57:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }