/* Fonts Chart */
/* font-family: 'Bodoni Moda', serif; */

.nav_main {
    background: url(../Sub_Comp/Brand/logo_minimal.png) no-repeat center center;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_links .rose {
    width: 200px;
    height: 200px;
    margin-left: -50pt;
}

.nav_links .rose:hover {
    transform: scale(1.5);
}

.nav_links .Books {
    width: 200px;
    height: 200px;
}

.nav_links .Books:hover {
    transform: rotate(90deg);
}

.nav_links .eye {
    width: 150px;
    height: 150px;
}

.nav_links .eye:hover {
    transform: scale(1.5);
}

.nav_links .Feather {
    width: 200px;
    height: 200px;
}

.nav_links .Feather:hover {
    transform: rotate(-90deg);
}

.nav_links .HandEye {
    width: 200px;
    height: 200px;
}

.nav_links .HandEye:hover {
    transform: scale(1.5);
}

.nav_links .Moon {
    width: 150px;
    height: 150px;
    /* margin-right: 50pt; */
}

.nav_links .Moon:hover {
    transform: scale(1.2);
}